.audioinsulator audio {
    width:50%;
}

.audioinsulator p {
    user-select: none;
    font-size: 10px;
}

span {
    display: block;
}

span.ain-header, h4 {
    user-select: none !important;
    font-size: 14px;
    font-weight: bold;
    margin:15px 0 2px 0 !important;
}

span.ain-credit {
    font-style: italic;
}

.audioinsulator {
    padding: 11px;
    background-color: #f1f1f1;
    border: dotted thin lightgrey;
}

.audioinsulator:before {
    display: block;
    content: "AUDIO FILE: Double-click gray area to edit audio widget.";
    font-style: italic;
    font-size: 10px;
    color: #B3B3B3;
    background-color: white;
    padding: 2px 4px;
    margin: 6px 0;
    width: 270px;
}

.ain-caption:before {
    content: "Caption: ";
    color: #B3B3B3;
}

.ain-source {
    font-style: italic;
    font-size: 10px;
    color: #B3B3B3;
    padding-bottom: 5px;
}

.ain-source p {
    padding: 0;
    margin: 0;
}
.ain-credit:before {
    content: "Credit: ";
    color: #B3B3B3;
}